@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Minimal Scrollbar for specific sections */
.minimal-scrollbar::-webkit-scrollbar {
  display: block;
  width: 5px;
}
.minimal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 4px;
}
.minimal-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.4);
  border-radius: 10px;
}
.minimal-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.7);
}
.dark .minimal-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(71, 85, 105, 0.5);
}
.dark .minimal-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(71, 85, 105, 0.8);
}
.minimal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.4) transparent;
}
.dark .minimal-scrollbar {
  scrollbar-color: rgba(71, 85, 105, 0.5) transparent;
}


.custom-leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 0;
  overflow: hidden;
}

.custom-leaflet-popup .leaflet-popup-content {
  margin: 0;
  width: auto !important;
}

.custom-leaflet-popup .leaflet-popup-tip-container {
  margin-top: -1px;
}
