@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.custom-leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 0;
  overflow: hidden;
}

.custom-leaflet-popup .leaflet-popup-content {
  margin: 0;
  width: auto !important;
}

.custom-leaflet-popup .leaflet-popup-tip-container {
  margin-top: -1px;
}
